
# MODE Diameter-SIP server (DSSERVER) or Subscriber Locator (SL)
mode = DSSERVER;

# DATASOURCE: MYSQL
datasource = MYSQL;

#MYSQL connection details
mysql_login = "login";
mysql_password = "password";
mysql_database = "db";
mysql_server = "server.fr";
mysql_port = 0;
