# This file contains information for configuring the rt_un_number extension.
# To find how to have freeDiameter load this extension, please refer to the freeDiameter documentation.
#
# The rt_un_number extension is a simple showcase of load-balancing routing with
# freeDiameter. It routes the messages to different servers based on a numerical
# value contained in the User-Name.

# The format of this configuration file is very simple, just declare
# the list of all servers you whish to load-balance between.
# serv = "server1.identity" ;
# serv = "server2.identity" ;
